<div class="p-6">
    <h2 class="text-2xl font-bold mb-4">Panel del Cliente</h2>
    <p class="text-gray-600 mb-4">Cliente seleccionado: <strong>{{ nitCliente }}</strong><br> <strong>{{ razonSocialCliente }}</strong></p>
  
    <div class="space-y-4">
      <a routerLink="/user/registro-pruebas" 
         class="block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
        Registro de Pruebas
      </a>
  
      <a routerLink="/user/historial-pruebas" 
         class="block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
        Historial de Pruebas
      </a>
  
      <a routerLink="/user/exportacion-informes" 
         class="block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
        Exportación de Informes
      </a>
  
      <a routerLink="/user/ats" 
         class="block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
        Evaluación ATS
      </a>
  
      <a routerLink="/user/historial-ats" 
         class="block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
        Historial ATS
      </a>
  
      <a routerLink="/user/notificaciones" 
         class="block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
        Notificaciones
      </a>
    </div>
  </div>
  